*{
margin:0;
padding:0;
box-sizing:border-box;
}

@font-face{
font-family:'HandWri2';
src:url('fonts/HandWri2.ttf');
}


body{
background:#ddd6c3;
display:flex;
justify-content:center;
padding:6vh 0;
font-family:'HandWri2';
}


.pg{
position:relative;
width:min(92vw,620px);
aspect-ratio:620 / 860;  
background:#f4f0e4;

background-image:
radial-gradient(rgba(0,0,0,.05) 1px, transparent 1px);
background-size:3px 3px;


transform:rotate(-.4deg);
overflow:hidden;
}


.black{
position:absolute;
top:4%;
left:4%;
right:4%;
bottom:4%;
background:black;
}


.word{
position:absolute;
background:#f4f0e4;
padding:.4em .6em;
font-size:clamp(14px,1.6vw,18px);
letter-spacing:.05em;
white-space:nowrap; 
}


.w1{top:9%; left:10%;}
.w2{top:13%; left:36%;}
.w3{top:17%; left:52%;}

.w4{top:22%; left:16%;}
.w5{top:26%; left:40%;}
.w6{top:30%; left:60%;}
.w7{top:34%; left:68%;}

.w8{top:40%; left:14%;}
.w9{top:44%; left:52%;}

.w10{top:54%; left:26%;}
.w11{top:58%; left:52%;}

.w12{top:64%; left:24%;}
.w13{top:68%; left:34%;}
.w14{top:72%; left:24%;}
.w15{top:76%; left:48%;}
.w16{top:80%; left:28%;}
.w17{top:84%; left:48%;}
.w18{top:88%; left:58%;}  


.link,
.link:visited{
color:black;

}
.link:hover{
text-decoration:underline;
}