/* blackout */

body {
    margin: 0;
    background: #f4f4f4;
    font-family: 'HandWri2';
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

@font-face {
    font-family: 'HandWri2';
    src: url('fonts/HandWri2.ttf');
}

.one {
    position: relative;
    width: 600px;
    height: 800px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}
.black {
    position: absolute;
    background: black;
}
.one {
    top:40px;
    left: 0px;
    width: 100%;
    height: 200px;
}
.two {
    top:270px;
    left: 0px;
    width: 100%;
    height: 150px;
}
.three {
    top:450px;
    left: 0px;
    width: 100%;
    height: 180px;
}
.four {
    top:660px;
    left: 0px;
    width: 100%;
    height: 120px;
}

.words {
    position: absolute;
    background: white;
    padding: 2px 6px;
    font-size: 14px;
    letter-spacing: .5px;
}

.word1 {
    top: 60px;
    left: 30px;
}
.word2 {
    top: 90px;
    left: 160px;
}
.word1 {
    top: 120px;
    left: 320px;
}

.word4 {
    top: 160px;
    left: 80px;
}
.word5 {
    top: 190px;
    left: 200px;
}
.word6 {
    top: 220px;
    left: 360px;
}
.word7 {
    top: 250px;
    left: 420px;
}

.word8 {
    top: 300px;
    left: 60px;
}
.word9 {
    top: 330px;
    left: 300px;
}

.word10 {
    top: 480px;
    left: 120px;
}
.word11 {
    top: 510px;
    left: 280px;
}

.word12 {
    top: 560px;
    left: 100px;
}
.word13 {
    top: 590px;
    left: 180px;
}
.word14 {
    top: 620px;
    left: 120px;
}
.word15 {
    top: 650px;
    left: 260px;
}
.word16 {
    top: 680px;
    left: 140px;
}
.word17 {
    top: 710px;
    left: 260px;
}
.word18 {
    top: 740px;
    left: 320px;
}
.link,
.link:visited,
.link:hover,
.link:active {
    color: black;
    font-size: inherit;
}