*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
background:#e6e1d3;
display:flex;
justify-content:center;
padding:6vh 0;
font-family:Georgia, serif;
}



.background-text{
position:absolute;
inset:5%;
font-size:clamp(15px,1.5vw,18px);
line-height:1.3;
color:#111;
text-align:justify;
column-count:2;
column-gap:40px;
z-index:1;
}

.big-text{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

font-family:Impact, "Arial Black", sans-serif;
font-weight:900;
font-size:clamp(90px,18vw,170px);
line-height:.8;
letter-spacing:-.04em;
color:#000;

z-index:3;
mix-blend-mode:multiply;
pointer-events:none;
}

.become{
position:absolute;
top:8%;
left:6%;
}

.what{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.grows{
position:absolute;
bottom:8%;
left:60%;
}


