* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.bg-blur {
  position: absolute;
  inset: 0;
  background: url("images/ajbrown.jpg") center center / cover no-repeat;
  filter: blur(20px);
  transform: scale(1.1); 
}


.center-strip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 22vw; 
  height: 100%;
  background: url("images/ajbrown.jpg") center center / cover no-repeat;
}


.line {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background: black;
}

.line.left {
  left: calc(50% - 11vw);
}

.line.right {
  left: calc(50% + 11vw);
}


.text {
  position: absolute;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
}

.top-right {
  top: 20%;
  right: 8%;
  text-align: right;
}

.bottom-left {
  bottom: 15%;
  left: 8%;
  text-align: left;
}

.text h2 {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  line-height: 1.4;
}

.link {
    color: inherit;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    line-height: 1.4;
    filter: blur(.5px);
}
.link:hover {
    color: inherit;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    line-height: 1.4;
    filter: blur(.5px);
}
.link:visited {
    color: inherit;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    line-height: 1.4;
    filter: blur(.5px);

}