/* text3 */
{
    box-sizing: border-box;
}
 body {
    margin: 0;
    background: pink;
    font-family: 'Creepy-Circus';
 }

@font-face {
    font-family: 'Creepy-Circus';
    src: url('fonts/Creepy-Circus.ttf');
}
.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.top { 
display: flex;
flex-direction: row;
justify-content: space-between;
height: 20%;
gap: 10px;
}

.bottom { 
display: flex;
gap: 10px;
flex: 1;
}

.top-item-right {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(0, 76, 84);
    justify-content: center;
    align-items: center;
}


.top-item-left {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(0, 76, 84);
    justify-content: center;
    align-items: center;
}

.top-item-right >p {
    padding: 5px;
    color: white;
    font-family: 'Creepy-Circus';
    font-size: 25px;

}
.top-item-left >p {
    padding: 5px;
    color: white;
    font-family: 'Creepy-Circus';
    font-size: 25px;
    font-weight: bold;

}


.bottom-item {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    text-align: center;
    padding: 25px;
    font-family: 'Creepy-Circus', sans-serif;
    font-size: clamp(15px, 2.0vw, 22px);
    border: 5px solid white;
    
}

.bottom-item >p {
    padding: 25px;
    color: black;
    font-family: 'Creepy-Circus';
    font-size: 25px;

}

.picbox {
    display: flex;
    width: 100%;
    height: 100%;
    background: grey;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.quotebox {
    display: flex;
    width: 100%;
    height: 100%;
    background: grey;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.picbox > p {
    padding: 25px;
    color: black;
    font-family: 'Creepy-Circus';
    font-size: 25px;
}
.bottom-item:hover {
    background: white;
    color: black;
}
.link,
.link:visited,
.link:hover,
.link:active {
    color: inherit;
    font-size: inherit;
}