/* text5 */
* {
    box-sizing: border-box;
}
 body {
    margin: 0;
 }
.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 100vh;
    gap: 10px;
}

.top { 
display: flex;
gap: 10px;
}

.bottom { 
display: flex;
gap: 10px;
}
.top-item-left,
.top-item-right {
    flex: 1;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
}

.top-item-right >p {
    padding: 5px;
    color: white;
    font-family: Frutiger;
    font-size: 15px;

}
.top-item-left >p {
    padding: 5px;
    color: white;
    font-family: Frutiger;
    font-size: 25px;
    font-weight: bold;

}


.bottom-item {
    display: flex;
    width: 100%;
    height: 100%;
    background: black;
    justify-content: center;
    align-items: center;

}

.bottom-item >p {
    padding: 25px;
    color: white;
    font-family: Frutiger;
    font-size: 15px;

}

.picbox {
    flex: 1;
    display: flex;
    background: black;
    align-items: center; 
    justify-content: center;
}

.quotebox {
    display: flex;
    width: 100%;
    height: 100%;
    background: grey;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.picbox > p {
    padding: 25px;
    color: white;
    font-family: Frutiger;
    font-size: 12px;
    overflow-wrap: break-word;
}
.picbox > a {
    text-decoration: underline;
    color: white;
    font-family: Frutiger;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.quote-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Frutiger;
}
.crow {
    display: flex;
    gap: 10px;
}



