/* text4 */
* {
    box-sizing: border-box;
}
 body {
    margin: 0;
 }
.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    height: 100vh;
    gap: 10px;
}

.top { 
display: flex;
flex-direction: row;
justify-content: space-between;
height: 20%;
gap: 10px;
}

.bottom { 
display: flex;
flex-direction: row;
justify-content: space-between;
height: 80%;
gap: 10px;
}

.top-item {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(81, 95, 122);
    justify-content: center;
    align-items: center;
}

.top-item >p {
    padding: 5px;
    color: white;
    font-family: 'Brush Script MT';
    font-size: 55px;
}


.bottom-item {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(130, 144, 172);
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}


.bottom-item >p {
    color: black;
    font-family: "handwriting";
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
}

.foot {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.quotebox {
    display: flex;
    width: 100%;
    height: 100%;
    background: grey;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.foot > p {
    padding: 25px;
    color: black;
    font-family: Frutiger;
    font-size: 12px;
}

.foot-item {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(81, 95, 122);
    justify-content: center;
    align-items: center;
}


